$primary-color: rgb(0, 160, 227);
$text-color: #1F2937;
$text-color-muted: #4B5563;

// title bar
$title-font-size: 18px;
$title-font-size--L: 24px;

@mixin scrollStyling() {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #F3F4F6;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #9CA3AF;
        border-radius: 4px;
    }
}