@use 'sass:math';

$gutter-width: 16px;
$grid-columns: 12;

@mixin column() {
  padding-right: calc($gutter-width / 2);
  padding-left: calc($gutter-width / 2);
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: $gutter-width;
  margin-right: calc($gutter-width / 2 * -1);
  margin-left: calc($gutter-width / 2 * -1);
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include column();

    flex: 0 0 math.percentage(math.div($i, $grid-columns));
    max-width: math.percentage(math.div($i, $grid-columns));
  }
}
