$cell-width: 165px;
$cell-height: 150px;

@mixin checkerboard-item {
    position: relative;
    background-color: #ffffff;
    border: 1px solid rgba(156, 163, 175, 1);
    border-radius: 4px;
    padding: 8px;
}

.main-checkerboard {
    display: grid;
    grid-template-columns: 60px repeat(1, $cell-width);
    grid-template-rows: 60px repeat(1, $cell-height);
    gap: 16px;
    overflow: auto;

    @for $i from 1 through 20 {
        &[data-column-count="#{$i}"] {
            grid-template-columns: 60px repeat($i, $cell-width);
        }
    }

    @for $i from 1 through 20 {
        &[data-row-count="#{$i}"] {
            grid-template-rows: 60px repeat($i, $cell-height);
        }
    }

    &__add-button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        padding: 4px
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        overflow: hidden;
        border: 1px solid #9CA3AF;
        border-radius: 4px;
        z-index: 3;

        &--show {
            display: block
        }
    }
}

.checkerboard-header {
    @include checkerboard-item;

    display: flex;
    flex-direction: column;
    gap: 4px;

    position: sticky;
    top: 0;
    z-index: 2;

    &--left {
        flex-direction: row;

        top: auto;
        left: 0;
        z-index: 1;

        & .checkerboard-header__controll {
            flex-direction: column-reverse;
        }
    }

    &:first-child {
        left: 0;
        z-index: 3;
    }

    &__controll {
        display: flex;
        justify-content: space-between;
    }

    &__remove-btn {
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: red;
    }

    &__drag-elem {
        cursor: grab;
    }

    &__select {
        margin: 0;
        width: 13px !important;
        height: 13px !important;
    }

    &__caption {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.checkerboard-cell {
    @include checkerboard-item;
}

.controll-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 200px;
    padding: 8px 0;

    &__item {
        cursor: pointer;
        padding: 12px;
    }
}

.create-flat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}